{% extends './templates/base.html' %}
{% load static %}

{% block title %}
Django | Usuario-editar
{% endblock %}

{% block css%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

{% block js%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
</script>
{% endblock %}

{% block main-title %}
Configuración de usuario
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'usuarios:modificarUsuario' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card card-body mt-3">



                    <!-- Cambiar username -->
                    <div class="d-flex m-2 mb-2">
                        <h4>Nombre de usuario</h4>
                    </div>
                    <label for="nombre" style="color: rgb(82, 82, 82);">Nombre de usuario (actual):</label>
                    <input type="text" name="username" class="form-control mb-2" value="{{user.username}}" readonly>
                    <label for="new_username" style="color: rgb(82, 82, 82);">Nombre de usuario (nuevo): </label>

                    {% if messages %}
                        {% for message in messages %}
                            {% if 'error' in message.tags %}
                                {% if 'error_username' in message.tags %}
                                    <input type="text" name="new_username" class="form-control" value=""
                                    style="background-color: rgba(255, 2, 2, 0.342);" placeholder="Escriba de nuevo...">
                                {% endif %}
                                {% if not 'error_username' in message.tags %}
                                    <input type="text" name="new_username" class="form-control" value="">
                                {% endif %}
                            {% endif %}
                            {% if not 'error' in message.tags %}
                                <input type="text" name="new_username" class="form-control" value="">
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if not messages %}
                    <input type="text" name="new_username" class="form-control" value="">
                    {% endif %}
                    <label style="color: rgb(114, 114, 114); size: 5px;" class="m-2"><small>Requerido. 150 caracteres o
                            menos. Solo letras, dígitos y @/./+/-/_.</small></label>
                    <hr class="mb-4">




                    <!-- Cambiar imagen -->

                    <div class="d-flex m-2 mb-2">
                        <h4>Foto de perfil</h4>
                    </div>
                    <div class="d-flex">
                        <img src={{user.picture.url}} class="elevation-2 m-2" alt="User Image"
                            style="width: 150px; height: 200px;">
                    </div>
                    <label style="color: rgb(114, 114, 114); size: 5px;" class="mb-3 ml-2"><small><b>Imagen
                                actual:</b>{{user.picture.url}}</small></label><br>
                    <input type="file" name="image"></input>
                    <hr class="mb-4">



                    <!-- Cambiar password -->

                    <div class="d-flex m-2 mb-2">
                        <h4>Contraseña</h4>
                    </div>
                    <label for="actualContraseña" style="color: rgb(82, 82, 82);">Contraseña actual:</label>
                    <input type="password" name="actualContraseña" class="form-control mb-2" value="">
                    <label for="nuevaContraseña" style="color: rgb(82, 82, 82);">Contraseña nueva:</label>
                    <input type="password" name="nuevaContraseña" class="form-control mb-2" value="">
                    <label for="confirmacionNuevaContraseña" style="color: rgb(82, 82, 82);">Contraseña nueva
                        (confirmación): </label>
                    <input type="password" name="confirmacionNuevaContraseña" class="form-control" value="">
                    <style>
                        .input-label {
                            margin-bottom: 3px;
                        }
                    </style>
                    <div class="m-2">
                        <label class="input-label" style="color: rgb(114, 114, 114); font-size: 14px;"><small>Tu
                                contraseña no puede ser muy similar a alguna información
                                personal.</small></label><br>
                        <label class="input-label" style="color: rgb(114, 114, 114); font-size: 14px;"><small>Tu
                                contraseña no puede ser una contraseña comúnmente utilizada.</small></label><br>
                        <label class="input-label" style="color: rgb(114, 114, 114); font-size: 14px;"><small>Tu
                                contraseña debe contener al menos 9 caracteres.</small></label><br>
                        <label class="input-label" style="color: rgb(114, 114, 114); font-size: 14px;"><small>Tu
                                contraseña debe contener al menos un dígito, 0-9.</small></label><br>
                        <label class="input-label" style="color: rgb(114, 114, 114); font-size: 14px;"><small>Tu
                                contraseña debe contener al menos una letra mayúscula, A-Z.</small></label><br>
                        <label class="input-label" style="color: rgb(114, 114, 114); font-size: 14px;"><small>Tu
                                contraseña debe contener al menos un caracter especial: ()[]{}|\'.
                            </small></label><br>
                    </div>
                </div>
                <div class="card card-body mt-3">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success ml-3">Guarcar cambios</button>
            </form>
            <form action="{% url 'peliculas:lista_peliculas' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary ml-3">Cancelar</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}